.footer {
  background: url("../assets/footer.svg")no-repeat center center/cover;
  padding-top: 200px;

  &__nav {
    padding: 0;
  }

  &__item {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.025em;
    text-transform: capitalize;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 20px;

    @media (max-width: 500px) {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  &__number {
    font-weight: bold;
  }

  &__media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__social {
    margin: 0 7px;
    display: block;
  }

  &__sub {
    text-align: center;
  }
  
}
