.navBar {
  background-color: #232323;
  align-items: center;
  padding: 15px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__close {
    //transform: translateY(-100px);
    //opacity: 0;
    //visibility: hidden;
    //transition: all 0.3s ease 0s;
    //display: grid;
    //row-gap: 25px;
    //position: relative;


    @media (max-width: 772px) {
      display: none;
    }
  }

  &__open {

    @media (max-width: 772px) {
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      background: rgb(19, 19, 24);
      display: flex;
      place-items: center;
      place-content: center;
      position: fixed;
      top: 0;
      left: 0;
      overflow: auto;
      z-index: 100;
      animation: 0.2s linear 0s 1 normal forwards running toggleHeader;
    }
    & li {
      margin: 10px 0;
    }

    & li a {
      font-size: 28px;
    }

    }




  &__fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }


  &__logo {
    width: 200px;

    @media (max-width: 930px) {
      width: 180px;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    font-size: 17px;

    @media (max-width: 930px) {
      font-size: 14px;
    }

    &:hover {
      color: white;
      font-weight: bold;
    }
  }

  .btn__outline {
    border: 1px solid #C12322;
    height: 50px;
    display: inline-block;
    border-radius: 10px;

  }

  &__btn {
    color: #fff;
    text-decoration: none;
    background-color: #000000;
    height: 50px;
    padding: 0 43px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    -webkit-transform: translate(-13px,-10px);
    transform: translate(-13px,-10px);
    -webkit-transition: all .3s;
    transition: all .3s;

    &:hover {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }

    @media (max-width: 930px) {
      padding: 0 35px;
      transform: translate(-8px,-10px);
    }
  }

}