.team {

  &__img {
    width: 100%;
  }

  &__member {
    position: relative;
    margin-bottom: 30px;
    margin-top: 60px;

    @media (max-width: 576px) {
      position: unset;
    }
  }

  &__info {
    position: absolute;
    top: 40%;
    right: -40%;

    @media (max-width: 576px) {
      position: unset;
      text-align: center;
      margin-top: 10px;
    }
  }

  &__name {
    font-size: 26px;
    text-transform: uppercase;
    color: #000000;

    &:after {
      content: "";
      display: block;
      width: 87px;
      height: 1px;
      background: #C12322;

      @media (max-width: 576px) {
        display: flex;
        margin: 0 auto;
        width: 150px;
      }
    }
    
    @media (max-width: 400px) {
      font-size: 22px;
    }
  }

  &__profession {
    font-size: 18px;
    text-transform: capitalize;
    color: #000000;
  }

}